.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #f3ca45;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 1.2em;
}

