.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: white;
  font-size: 1.2em;
  height: 90px;
  margin: 0;
  width: 100vw;
  border-bottom: 1px solid #f3ca45;

}

#img {
  padding: 10px auto;
}