.container {
  padding: 0 2rem;
  width: 100vw;
  height: 100vh;
  background-color: #d9e0d1;
  color: white;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/images/water.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

#img {
 margin-top: 100px;
}
